

<!-- Privacy -->
<div class="privacy m-5">
  <h3 class="text-center m-4">Privacy Policy</h3>
  <p class="text-justify m-4">Lorem ipsum dolor sit amet, eum exerci legimus oporteat ex, posse omnesque insolens usu in. Iudicabit dissentiunt nec ut, solet definitiones has an, ne discere volumus omnesque pro. Ignota vocibus est cu, ut mei numquam fuisset, in debet imperdiet pri. Malis dolorum vim ad, te quodsi periculis est.</p>
  <p class="text-justify m-4">His autem nulla abhorreant ex, mei te vero feugait pertinax. Rebum feugiat ancillae per no, eu scripta dolorem ius, pro an labores placerat. Erat brute appetere ei per. Sit te lorem melius accusamus, cu qui alii ullamcorper. His at homero vivendo, mel alia timeam saperet in.</p>
  <p class="text-justify m-4">Sed laudem mnesarchum et. Impedit tibique comprehensam an eos, at vim dico elitr virtute. Habemus mnesarchum ut vix, luptatum perpetua concludaturque qui te. Meis errem est ut. Diam libris epicuri vis ex, ut mutat graece insolens vel, no mel prompta nostrud nusquam. Admodum noluisse eum id, his ne lorem oblique scriptorem.</p>
  <p class="text-justify m-4">Ex vix veri aliquid, ut est minimum blandit, an assum suscipit sit. Homero labore principes in ius, eu mea probo impetus inciderint. Nisl convenire consequuntur has no. Te tacimates reformidans qui. Ut ignota aperiam ullamcorper vim, his no augue admodum interesset.</p>
  <p class="text-justify m-4">Cum delicata voluptatibus et, vis maluisset efficiantur id, an duo velit omittam. Vel nulla percipitur deterruisset ei, eros brute corpora in vix, vix saepe volutpat rationibus ea. In duo dico noster consequuntur, no labores tacimates nam. Te est dicant possim, ei mei reque melius, graecis mediocrem his at. Ut eam reque euripidis interesset, id mel posse aliquam postulant.</p>
</div>
