

<!-- Testimonials -->
<div class="container">
  <div class="text-center m-5">
    <h3 class="m-3">A word from our CEO</h3>
    <%= image_tag('CEO.jpg', :alt => 'photo lol mdr', class:"img-fluid rounded-circle m-3") %>
    <h5 class="m-3">Quentin P.</h5>
    <p class="font-weight-light m-3">"Supporter les touch points contextuels permet d'identifier de nouveaux insights et de sanctuariser les best practices."</p>
  </div>
</div>
